<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</section>
