@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

body {
  background-image: url('star.jpg');
}

#show-vehicle-img {
  margin-left: 340px;
  width: 550px;
  height: 400px;
}

.course-meta-area {
  margin-top: 50px;
}

.list-vehicle {
  margin-top: 250px;
}

.profile {
  width: 1170px;
}

.emp-profile {
  padding: 3%;
  margin-top: 200px;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;

  img {
    width: 70%;
    height: 100%;
  }

  .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;

    input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
    }
  }
}

.profile-head {
  h5 {
    color: #333;
  }

  h6 {
    color: #0062cc;
  }
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;

  span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
}

.profile-head .nav-tabs {
  margin-bottom: 5%;

  .nav-link {
    font-weight: 600;
    border: none;

    &.active {
      border: none;
      border-bottom: 2px solid #0062cc;
    }
  }
}

.profile-work {
  padding: 14%;
  margin-top: -15%;

  p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }

  a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }

  ul {
    list-style: none;
  }
}

.profile-tab {
  label {
    font-weight: 600;
  }

  p {
    font-weight: 600;
    color: #0062cc;
  }
}

.table{
  background-color: $white;
}
#vehicles-table{
  background-color: $white
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
  background-color: $white;
}

li.search-item {
  height: 75px;
  margin: 10px;
  &:hover {
    background-color: #ecf0f1;
    cursor:pointer;
  }
  a:link {
   color:inherit;
  }
}

#livesearch {
  a {
    color: #66757f;
  }
}

.search-form {
  display: table;
  width: 500px;
  background-color: #fff;
  padding: 0;
  .form-group {
    display: table-cell;
    width: 100%;
    .form-control {
      width: 100%;
    }
  }
    button {
      display: table-cell;
      width: 70px;
    }
}


#see-more {
  margin-left: 0px;
  color: $black;
}

#search-items {
  margin-top: 250px;
  h3 {
    color: $white;
    padding-bottom: 50px;
  }
}

#livesearch_dom {
  margin-left: 0px;
}

.img-responsive {
  width: 300px;
  height: 70px;
}

#linkto_item {
  margin-left: 0px
}

#price_div {
  padding: initial
}

#wel {
  color: $white;
}

#sign-up-btn {
  margin-left: 175px;
}

#image-vh {
  height: 400px;
  width: 300px;
}

#admin_body {
  background-color: $gray-white;
}

.ticket {
  position: relative;
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  margin: 20px auto ;
  padding: 20px;
  border-radius: 10px;
  background: $white;
  box-shadow: 2px 2px 15px 0px $black;
  margin-top: 250px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 5px;
    height: 6px;
    width: 790px;
  }

  &:before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -8px / 16px 16px repeat-x,
  }
  
  &:after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -2px / 16px 16px repeat-x,
  }
}

.ticket__content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 6px solid #D8D8D8;
  padding: 20px;
  p{
    font-size: 20px;
  }
  table {
    td{
      padding: 5px;
      font-size: 17px;
      font-family: sans-serif;
    }
    td:first-child{
      font-weight: bold;
    }
    span {
      margin-right: 10px;
    }
  }
}

.show_vehicle {
  width: 300px;
  height: 200px;
  margin-left: 230px;
  #bill-image {
    margin-top: -200px;
    margin-left: 80px;
  }
}

#page-top {
  background-image: url('page background.jpg');
  color: $black;
}

.dataTables_wrapper {
  position: inherit;
  clear: both;
  zoom: 1;
}

#table{
  color: $black;
}

#vehicles-table {
  color: $black;
}

#admin_id {
  height: 100px;
  width: 300px;
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$LATO: 'Lato', sans-serif;

$GREY: #CCC;
$BACKGROUND_GREY: lighten(#EEEDED, 2.5%);
$SUBTLE_GREY: #F2F2F2;
$MURKY_GREY: #384148;
$DARK_GREY: #333;

$WHITE: #FFF;
$SUBTLE_WHITE: #F9F9F9;

$BLUE: #6495ED;
$RED: #FF6347;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
  transition: all 0.2s ease;
}

body, html {
	height: 100%;
	width: 100%;
}

body {
	font-family: $LATO;
	font-size: 1rem;

	color: $DARK-GREY;
	background-color: $BACKGROUND_GREY;

}

.user_avatar {
	width: 65px;
	height: 65px;

	display: inline-block;
	vertical-align: middle;

	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}

.comment_block {
	width: 65%;
	height: 100%;

	margin: 0 auto;
	padding: 10px;

	.create_new_comment {
		width: 100%;
		padding: 20px 0;

		.input_comment {
			display: inline-block;
			vertical-align: middle;

			margin-left: 10px;
			width: calc(100% - 75px);

			input[type="text"] {
				width: 100%;

				font-family: $LATO;
				font-weight: 300;
				font-size: 1.3rem;

				padding: 10px;

				border: none;
				border-bottom: 2px solid lighten($GREY, 15%);

				&:focus {
					outline: none;
					border-bottom: 2px solid lighten($GREY, 10%);
				}
			}
		}
	}

	.new_comment {
		width: 100%;
		height: auto;
		padding: 20px 0;
		border-top: 1px solid lighten($GREY, 10%);

		.user_comment {
			list-style-type: none;
		}

		.comment_body {
			display: inline-block;
			vertical-align: middle;

			width: calc(100% - 75px);
        min-height: 65px;
			margin-left: 10px;
			padding: 5px 10px;
			font-size: .9rem;
			color: #555;
			background-color: $WHITE;
			border-bottom: 2px solid lighten($GREY, 15%);
			
			.replied_to {
				margin: 5px 0px;
				background-color: lighten($GREY, 18%);
				border-bottom: 2px solid lighten($GREY, 15%);
				border-radius: 5px;
				p {
					padding: 5px;
				}
				span {
					color: $BLUE;
					margin-right: 2px;
				}
			}
		}

		.comment_toolbar {
			width: 100%;

			ul {
				list-style-type: none;
				padding-left: 75px;
				font-size: 0;

				li {
					display: inline-block;
					padding: 5px;
					font-size: .7rem;
					color: lighten($GREY, 5%);
					&:hover {
						cursor: pointer; 
					}
				}
			}

			.comment_details {
				display: inline-block;
				vertical-align: middle;
				width: 70%;
				text-align: left;
			}

			.comment_tools {
				display: inline-block;
				vertical-align: middle;
				width: 30%;
				text-align: right;
				li {
					&:hover {
						color: $GREY;
					}
				}
			}

			// replies

		}

		.user {
			&:hover {
				color: $BLUE;
				text-decoration: underline;
				}
			}

		.love {
			&:hover {
				color: $RED;
			}
		}
	}

}

#reply {
  margin-left: 70px;
}

#new_hiring {
  margin-left: 200px;
}

#total {
  font-size: 20px;
  color: #1d1c12;
  font-style: italic;
}

#branch_text {
  margin-top: 100px
}

#branch_drop {
  background-color: rgb(164, 164, 243);
  margin-left: 41px;
}

#lili {
  margin-left: -27px;
}
